:root {
  --primary-theme: #039be5;
  --secondary-theme: #f9a825;
  --background-color: #f5f5f5;
}

.lobby-hide-on {
  display: none !important;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
}

.divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #e0e0e0;
}

.box-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.hide-on-small-screens {
  display: initial;
}

.show-on-small-screens {
  display: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 50px;
  border-right: 1px solid #eeeeee;
  z-index: 9998;
}

.nav-button {
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.nav-button span {
  font-size: 36px !important;
  line-height: 40px;
  color: var(--primary-theme);
}

.nav-button:hover {
  border-radius: 20px;
  background-color: #eeeeee;
}

.nav-button[data-tooltip]:before {
  position: absolute;
  white-space: nowrap;
  visibility: collapse;
  margin-left: 50px;
  padding: 0px 10px 0px 10px;
  content: attr(data-tooltip);
  border-radius: 5px;
  background-color: #757575;
  color: white;
}

.nav-button[data-tooltip]:hover:before {
  visibility: visible;
}

.side-nav {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s;
  z-index: 9999;
}

.side-nav-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

.side-nav a {
  display: block;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
  text-decoration: none;
  white-space: nowrap;
  color: var(--primary-theme);
  transition: 0.25s;
  border-bottom: 1px solid #e0e0e0;
}

.side-nav a:first-of-type {
  margin-top: 25px;
}

.side-nav a span {
  vertical-align: middle;
}

.side-nav a:hover {
  color: var(--secondary-theme);
}

.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 9998;
}

#open_side_nav {
  cursor: pointer;
  font-size: 32px !important;
  border-radius: 25px;
}

#close_side_nav {
  cursor: pointer;
  font-size: 32px !important;
  color: var(--secondary-theme);
  margin: 10px;
}

.header-bar {
  height: 75px;
  width: calc(100% - 150px);
  margin-left: 50px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid #eeeeee;
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.header-text {
  font-size: 24px !important;
  vertical-align: middle;
  color: #757575;
}

.profile-container {
  margin-left: 75px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-name {
  margin-left: auto;
  color: var(--primary-theme);
}

.profile-type {
  font-size: 12px;
  margin-left: auto;
  color: var(--primary-theme);
}

.profile-icon {
  font-size: 60px !important;
  color: #757575;
}

.main-container {
  width: calc(100% - 150px);
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 50px;
}

.main-container.lobby-mode {
  width: calc(100% - 50px);
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 0;
}

.push-right {
  margin-left: auto !important;
}

.push-left {
  margin-right: auto !important;
}

.text-button {
  height: 100%;
  font-size: 18px;
  line-height: 18px;
  padding: 3px 10px 3px 10px;
  text-transform: uppercase;
  border: none;
  font-weight: 300;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-theme);
}

.text-button:hover {
  background-color: #f5f5f5;
}

.lists-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 50px;
}

.trip-list {
  display: block;
  height: 100%;
  width: calc(50% - 25px);
}

.trip-list.full {
  width: 100%;
}

.trip-list ul {
  height: calc(100vh - 175px);
  padding: 0;
  margin: 0;
  padding-right: 10px;
  list-style-type: none;
  overflow-y: scroll;
}

.trip-list ul.lobby-mode {
  height: calc(100vh - 115px);
}

.trip-list-header {
  color: #757575;
  border-bottom: 1px solid #e0e0e0;
}

.trip-list-header-icon {
  float: right;
  vertical-align: middle;
  cursor: pointer;
  font-size: 32px !important;
  margin-right: 10px;
  color: var(--secondary-theme);
}

.trip-list-header-icon:last-child {
  margin-right: 25px;
}

.trip-list-header-icon:hover {
  color: var(--primary-theme);
}

.trip-entry {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  min-height: 100px;
  height: fit-content;
  width: 100%;
  margin-right: 10px;
  background-color: #eeeeee;
}

.trip-entry:not(:last-child) {
  margin-bottom: 10px;
}

.trip-entry:hover,
.trip-entry.cancelled-trip:hover,
.trip-entry.finished-trip:hover {
  background-color: #d0eaff;
  cursor: pointer;
}

.trip-entry.ending-entry:hover {
  cursor: default;
}

.trip-entry.cancelled-trip {
  background-color: #ffcdd2;
}

.trip-entry.finished-trip {
  background-color: #c8e6c9;
}


.trip-entry.ending-entry {
  text-align: center;
  line-height: 100px;
  font-size: 32px;
  font-weight: 300;
  background-color: transparent;
  border: 1px dashed #e0e0e0;
}

#departures_list .trip-entry.ending-entry:after {
  content: 'End of departures \1F3E5 \2705';
}

#arivals_list .trip-entry.ending-entry:after {
  content: 'End of arivals \1F3E5 \2705';

}

.trip-entry .trip-entry-icon {
  height: 100%;
  margin-top: 14px;
  margin-left: 14px;
  text-align: center;
  font-size: 72px !important;
  color: #757575;
}

.trip-entry .trip-entry-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
  margin-top: 10px;
  width: calc(100% - 72px);
}

.trip-entry .trip-entry-content .trip-title-bar,
.trip-entry .trip-entry-content .trip-status-bar,
.trip-entry .trip-entry-content .trip-progress-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 24px;
}

.ttb-name {
  font-size: 24px;
}

.ttb-icon {
  margin-left: 10px;
  vertical-align: middle;
  color: #757575;
}

.ttb-id {
  font-size: 16px;
  margin-right: 25px;
  color: var(--primary-theme);
}

.tsb-status {
  line-height: 24px;
  vertical-align: center;
}


.tsb-apt {
  background-color: white;
  color: #757575;
  margin: -2px 10px 2px 0px;
  padding: 0 5px 0 5px;
  border-radius: 2px;
  font-size: 14px;
}

.tsb-eta {
  background-color: white;
  color: #757575;
  margin: -2px 20px 2px 0px;
  padding: 0 5px 0 5px;
  border-radius: 2px;
  font-size: 14px;
}

.scrollbar {
  margin-left: 10px;
  float: left;
  height: 300px;
  width: 15px;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 8px;
  background-color: #eeeeee;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-theme);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

.scrollbar-danger::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #eeeeee;
}

.progress, progress[value] {
  width: calc(100% - 20px);
  border: none;
  margin: 5px 0;
  height: 10px;
  display: block;
  appearance: none;
  -webkit-appearance: none;
}

.progress::-webkit-progress-bar {
  background-color: #c8e6c9;
}

.progress::-webkit-progress-value {
  background-color: #43a047;
}

.progress.no-prog::-webkit-progress-bar {
  background-color: #ef9a9a;
}

.progress.no-prog::-webkit-progress-value {
  background-color: #ef5350;
}

.draggable {
  position: absolute;
  top: 15%;
  left: 20%;
  transform: translateX(-50%);
  z-index: 9997;
  min-width: 300px;
  min-height: 200px;
  width: fit-content;
  height: fit-content;
  padding: 0px 10px 10px 10px;
  background-color: white;
  border-radius: 2px;
}

.draggable:hover {
  z-index: 9998 !important;
}

.drag-close {
  margin-top: 3px;
  color: grey;
  cursor: pointer;
  float: right;
}

.drag-name {
  font-size: 24px;
  padding: 0;
  margin: 5px;
}

.drag-phone {
  font-size: 18px;
  margin-left: 5px;
  padding-right: 15px;
}

.drag-icon {
  margin: 0 5px 0 5px;
  vertical-align: middle;
}

.drag-table-header {
  text-decoration: underline;
  font-size: 18px;
  margin: 10px 0px 0px 0px;
}

.drag-table td,
.drag-table th {
  min-width: 100px;
  text-align: center;
}

select {
  border: 1px solid #757575;
  background-color: inherit;
  border-radius: 2px;
  width: 159px;
  font-size: 14px;
  padding: 5px 3px 5px 3px;
}

input {
  border: 1px solid #757575;
  background-color: inherit;
  border-radius: 2px;
  width: 150px;
  font-size: 14px;
  padding: 5px 3px 5px 3px;
}

input, select, label {
  display: block;
}

/*
 SMALL SCREEN / MOBILE SPECIFIC STYLES
*/

@media only screen and (max-width: 1350px) {
  .hide-on-small-screens {
    display: none;
  }

  .show-on-small-screens {
    display: inherit;
  }

  .header-bar {
    width: calc(100% - 100px);
    margin-left: 0;
  }

  .main-container {
    width: calc(100% - 75px);
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
  }

  .lists-container {
    flex-direction: column;
  }

  .lists-container.lobby-mode {
    flex-direction: row;
  }

  .trip-list {
    width: calc(100% - 25px);
  }

  .profile-container {
    margin-left: 20px;
  }

  .profile-name,
  .profile-type {
    margin-left: 0;
    margin-right: auto;
    white-space: nowrap;
  }
}